<!--
=============================================================
 Title:  about.component.html
 Author: Professor Krasso
 Date:   30 July 2020
 Modified By: Janet Blohn
 Description: Assignment 4.4 – Async Pipe
 HTML for about component
=============================================================
-->
<div class="container">
  <br /><br/>
  <div class="col-sm-12">
  <h3>Johann Strauss II</h3>
  <hr>
</div>
  <br />

  <!-- Create 2 columns for an image and details -->
  <div class="row">
    <!-- Create the column for the image -->
    <div class="col-sm-3">
      <img src="./assets/johann-straussii.jpg" alt="Image of Johann Strauss II" title="Image of Johann Strauss II" />

      <figcaption>
        <a href="https://commons.wikimedia.org/wiki/File:Johann_Strauss_II_by_Fritz_Luckhardt.jpg">(Photo: Fritz Luckhardt (1843-1894) - Photographer Adam Cuerden - Restoration [Public domain], via Wikimedia Commons)</a>
      </figcaption>
    </div>
    <!-- Create the column for the details -->
    <div class="col-sm-9">
      <p>Johann Strauss II was born in Vienna, Australia on October 25, 1825. His father, Johann Strauss I, was also a composer. Johann II wrote over 500 musical compositions; 150 of them were waltzes. His most famous waltz is probably <i>The Blue Danube</i>, which was written in 1867, and helped to establish him as “the Waltz King”.</p>

      <p>In 1844, he began conducting music while he was still a teenager. He began composing music soon after. He quit conducting for the most part around 1862 in order to focus on writing music.</p>

      <p>He died on June 3, 1899 from a respiratory illness that turned into pneumonia. <a href="https://www.biography.com/musician/johann-strauss"><i style="font-size: .6rem;">Source</i></a></p>
    </div>
  </div>
</div>
