<!--
=============================================================
 Title:  invoice-summary.component.html
 Author: Professor Krasso
 Date:   28 August 2020
 Modified By: Janet Blohn
 Description: Bob's Computer Repair Application
 HTML for the invoice-summary.component of bobs-computer-repair
=============================================================
-->
 <h2>Date: {{ currentDate | date}} </h2>
 <div>
<div fxFlex>
  <div fxLayout="row">
  <mat-card class="invoice-form">
    <div fxLayout="column">
    <mat-card-title>Your Invoice</mat-card-title>
    <mat-card-content>
<div *ngFor="let repair of repairs; let i =index">



<div>
{{ repairs[i].serviceName }} {{ repairs[i].price | currency}}</div>
</div>
      <button mat-raised-button type="ordered" color="primary" matDialogClose="ordered">Complete Order</button>
    </mat-card-content>
  </div>
  </mat-card>
</div>
  </div>
</div>
