<!--
=============================================================
 Title:  composer-details.component.html
 Author: Professor Krasso
 Date:   30 July 2020
 Modified By: Janet Blohn
 Description: Assignment 4.4 – Async Pipe
 HTML for composer-details component
=============================================================
-->
<div class="row">
  <div class="col-sm-6">
    <!-- Output the values of the composer clicked on -->
    <ul class="list-group">
      <li class="list-group-item">Composer ID: {{ composer.composerId }}</li>
      <li class="list-group-item">Full Name: {{ composer.fullName }}</li>
      <li class="list-group-item">Genre: {{ composer.genre }}</li>
    </ul>
    <br />
    <!-- Link to return to the list of composers -->
    <a routerLink="/composer-list" class="float-right">Return to Composers</a>
  </div>
</div>
