<!--
=============================================================
 Title:  app.component.html
 Author: Professor Krasso
 Date:   16 July 2020
 Modified By: Janet Blohn
 Description: Exercise 2.3 - Data Binding
 HTML for the app-component of enhanced-profile-app app
=============================================================
-->

<!-- Create the Navigation Bar -->
<nav class="navbar navbar-expand-sm bg-white">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
  </ul>
</nav>

<!-- Create a Container with 2 columns; one for an image and one for an unordered list -->
<div class="container">
  <h2>{{ assignment }}</h2>
  <div class="row" *ngIf="isLoggedIn; else showError">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <!-- Place the image here -->
      <app-my-image></app-my-image>
    </div>

    <div class="col-sm-8">
      <!-- Place the list of details here -->
      <app-my-details></app-my-details>
    </div>
  </div>

  <!-- else if isLoggedIn equates to false, send error message -->
  <ng-template #showError>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="alert alert-danger">
          You are not authorized to view this content.
        </h4>
      </div>
    </div>
  </ng-template>
</div>
